Source: sugar-tuxpaint-activity
Section: user
Priority: optional
Maintainer: Plan Ceibal <ceibal@plan.ceibal.edu.uy>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.5
Vcs-Git: git@bitbucket.org:ceibaldd/sugar-tuxpaint-activity.git
Vcs-Browser: https://bitbucket.org/ceibaldd/sugar-tuxpaint-activity/src 

Package: sugar-tuxpaint-activity
Architecture: all
Description: Actividad Tuxpaint customizada por Ceibal. 
